html {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: black;
}

p {
  font-family: "Press Start 2P";
  font-size: 200px;
}

* {
  cursor: none;
}
